IndexIgnore * # prevent directory listing

Order deny,allow
Allow from *

# ------------------------------------------
# Rewrite so that php extentions are not shown
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^product/(.*)$ /mashtly/product?slug=$1 [L]
RewriteRule ^product-category/(.*)$ /mashtly/product-category?cat=$1 [L]
# RewriteRule ^blog-categories-details/(.*)$ /mashtly/blog-categories-details?cat=$1 [L]
# RewriteRule ^blog-categories-details/(.*)$ /mashtly/blog-categories-details?cat=$1 [L]
# RewriteRule ^blog-categories-details/(.*)$ /mashtly/blog-categories-details?cat=$1 [L]
RewriteRule ^blog-categories-details/(.*)$ /mashtly/blog-categories-details?cat=$1 [L,QSA]
RewriteRule ^blog/(.*)$ /mashtly/blog_details?slug=$1 [L]
RewriteRule ^land/(.*)$ /mashtly/land_details?slug=$1 [L]


