body {
    font-family: 'Almarai', sans-serif;
}

/* START NAVBAR */
* {
    --main-color: #21522B;
    --second-color: #5C8E00;
    --third-color: #F26C25;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

/* START NAVBAR  */
.main_navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

/* START TOP HEADER */
.top_header {
    background-color: var(--main-color);

}

.top_header .data {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.top_header .data p {
    margin: auto;
}

.top_header .data .country img {
    margin-left: 5px;
}

@media (max-width:991px) {
    .top_header .data p {
        font-size: 13px
    }

    .top_header .data .country {
        font-size: 13px;
    }
}

/* END TOP HEADER */
/* START MIDDLE HEADER */
.middel_header {
    background-color: #fff;
    box-shadow: 0px 0px 6px #00000029;
    padding: 8px;
}

.middel_header .data {}


.middel_header .data .logo {}

.middel_header .data .logo img {
    width: 174px;
    height: 70px;
}

.middel_header .data .search {
    position: relative;
}

.middel_header .data .search form {}

.middel_header .data .search form .box {
    display: flex;
    align-items: center;
    position: relative;
}

.middel_header .data .search form .box .box2 {
    width: 90%;
    position: relative;
}

.middel_header .data .search form .box .box2 input {
    border: 1px solid #ACC288;
    border-radius: 40px;
    height: 40px;
    outline: none;
    box-shadow: none;
}

.middel_header .data .search form .box .box2 input::placeholder {
    color: #A0B2B1;
}

.middel_header .data .search form .box .box2 img {
    position: absolute;
    top: 29%;
    left: 2%;
}

.middel_header .data .search form .box .box3 button {
    background: no-repeat;
    border: none;
    width: 110px;
    text-decoration: underline;
    color: var(--second-color);
    font-size: 15px;
}

.middel_header .data .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middel_header .data .info .cart {
    width: 45px;
    text-align: center;
    height: 45px;
    background: #E5F1E5 0% 0% no-repeat padding-box;
    line-height: 45px;
    border-radius: 50%;
}

.middel_header .data .info .cart img {}

.middel_header .data .info .heart {
    width: 45px;
    text-align: center;
    height: 45px;
    background: #E5F1E5 0% 0% no-repeat padding-box;
    line-height: 45px;
    border-radius: 50%;
}

.middel_header .data .info .heart img {}

.middel_header .data .info .sign_in {
    margin-right: 5px;
}

.middel_header .data .info .sign_in a {
    text-decoration: none;
    color: #fff;
    background: var(--second-color);
    padding: 12px;
    border-radius: 25px;
}

.middel_header .data .info .sign_in img {
    margin-left: 5px;
}

/* END MIDDEL HEADER */
/* START MIDDEL HEADER IN MOBILE */
.mobile_middel_header .data .logo img {
    width: 100%;
    height: auto;
}

.mobile_middel_header .navbar {
    background-color: #fff;
}

.mobile_middel_header .navbar-toggler {

    background-color: var(--second-color);
    border-radius: 30px;
    box-shadow: none;
}

.mobile_middel_header .navbar-toggler .navbar-toggler-icon i {
    color: #fff;
    margin-top: 5px;
}

/* END MIDDLE HEADER IN MOBILE */
.navbar {

    background-color: #1B1B1B;
    padding: 15px;
}

.navbar .nav-item {

    margin-right: 5px;
    margin-left: 5px;
}

.navbar .nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.navbar .dropdown-item {
    color: #000 !important;
}

.navbar .nav_badge {
    position: relative;
}

.navbar .nav_badge span {
    position: absolute;
    background-color: #BF2E48;
    left: 0;
    top: -11px;
    font-size: 11px;
}

.mobile_middel_header {
    display: none;
}

.bottom_search {
    background-color: #000;
}

.bottom_search .data .search form .box .box3 button {
    display: none;
}

.bottom_search .data .search form .box .box2 {
    width: 100%;
}

.mobile_middel_header .navbar-collapse {
    background-color: #000;
    position: absolute;
    z-index: 9999;
    min-width: 250px;
    top: 112%;
    left: 0;
    border-radius: 4px;
}

.mobile_middel_header .nav-item {
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 2px;
    padding-right: 10px;
}

.mobile_middel_header .nav-item:hover {
    background-color: #fff;
    padding-right: 6px;

}

.mobile_middel_header .nav-item:hover a {

    color: #000;
}

@media (max-width:991px) {
    .middel_header {
        display: none;
    }

    .mobile_middel_header {
        display: block;
    }

    .navbar {
        display: none;
    }

    .mobile_middel_header .navbar {
        display: block;
    }
}

/* END NAVBAR */

/* START FOOTER */
/* START INTAGRAEME FOOTER*/
.instagrame_footer {
    margin-bottom: 50px;
}
.instagrame_footer .data .insta_slider .insta_info {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    transition: all 1s ease-in-out;
}

.instagrame_footer .data .insta_slider .insta_info img {
    border-radius: 5px;
    width: 204px;
}

.instagrame_footer .data .insta_slider .insta_info .overlay {

    width: 0%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../uploads/overlay.png);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.instagrame_footer .data .insta_slider .insta_info:hover .overlay {
    width: 100%
}

.instagrame_footer .data .insta_slider .insta_info:hover .overlay img {
    display: block;
}

.instagrame_footer .data .insta_slider .insta_info .overlay img {
    width: 40px;
    position: absolute;
    top: 40%;
    left: 42%;
    display: none;
}

.instagrame_footer .data h2 {
    text-align: center;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
}

.instagrame_footer .data p {
    text-align: center;
    color: #797979;
    margin-bottom: 20px;
}

@media (max-width:991px) {
    .instagrame_footer .data .insta_slider .insta_info img {
        width: 154px;
    }

    .instagrame_footer .data .insta_slider .insta_info .overlay {

        background-image: url(../../uploads/mobile_overlay.png);

    }

}

/* END INSTAGRAME FOOTER */
.footer {
    background-color: var(--main-color);
    padding: 20px;
    color: #fff;
}

.footer .data {}

.footer .data .info {}

.footer .data .info img {}

.footer .data .info p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .data .info .social_icon {}

.footer .data .info .social_icon li {
    display: inline-block;
    margin: 0 10px;
}

.footer .data .info a {
    text-decoration: none;
    color: #fff;
}

.footer .data .info .social_icon i {
    font-size: 25px;
}

.footer .data .info ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* START BOTTOM FOOTER*/
.bottom_footer {
    background-color: #fff;
    padding: 10px;
}

.bottom_footer p {
    color: #000;
}

.bottom_footer .payment_method .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_footer {
    display: none;
}

.mobile_footer .bottom_footer .payment_method .images {
    flex-wrap: wrap;
}

.mobile_footer .bottom_footer .payment_method .images img {
    margin-bottom: 10px;
    padding: 5px;
}

.mobile_footer .bottom_footer p {
    text-align: center;
}

.mobile_footer .footer .data .info img {
    margin-bottom: 20px;
}

.mobile_footer .footer .data .info a {
    font-size: 15px;
}

.mobile_footer .footer .data .info p {
    font-size: 13px;
}

@media (max-width:991px) {
    .large_footer {
        display: none;
    }

    .mobile_footer {
        display: block;
    }
}

/* END FOOTER */