@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Regular.ttf') format('truetype');
}


body {
    font-family: 'SuisseIntl', sans-serif;
    background: #F0F5F0;
}

/* START NAVBAR */
/* global temp  */
* {
    --main-color: #21522B;
    --second-color: #5C8E00;
    --third-color: #F26C25;
}

.global_button {
    background-color: var(--second-color);
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 25px;
    box-shadow: none;
    outline: none;
}

.global_button:hover {
    color: #fff;
}

.header2 {
    position: relative;
    color: #1B1B1B;
    font-size: 25px;
    font-weight: bold;
}

.header2::after {
    content: "";
    position: absolute;
    right: -35%;
    top: 55%;
    width: 49px;
    height: 3px;
    background-color: #A0B2B1;
}

/* end global temp  */
.navbar-collapse {
    flex-grow: 0 !important;
}

/* START NAVBAR  */
.main_navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

/* START TOP HEADER */
.top_header {
    background-color: var(--main-color);

}

.top_header .data {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.top_header .data p {
    margin: auto;
}

.top_header .data .country img {
    margin-left: 5px;
}

@media (max-width:991px) {
    .top_header .data p {
        font-size: 13px
    }

    .top_header .data .country {
        font-size: 13px;
    }
}

/* END TOP HEADER */
/* START MIDDLE HEADER */
.middel_header {
    background-color: #fff;
    box-shadow: 0px 0px 6px #00000029;
    padding: 8px;
}

.middel_header .data .logo img {
    width: 174px;
    height: 70px;
}

.middel_header .data .search {
    position: relative;
}

.middel_header .data .search form .box {
    display: flex;
    align-items: center;
    position: relative;
}

.middel_header .data .search form .box .box2 {
    width: 90%;
    position: relative;
}

.middel_header .data .search form .box .box2 input {
    border: 1px solid #ACC288;
    border-radius: 40px;
    height: 40px;
    outline: none;
    box-shadow: none;
}

.middel_header .data .search form .box .box2 input::placeholder {
    color: #A0B2B1;
}

.middel_header .data .search form .box .box2 img {
    position: absolute;
    top: 29%;
    left: 2%;
}

.middel_header .data .search form .box .box3 button {
    background: no-repeat;
    border: none;
    width: 110px;
    text-decoration: underline;
    color: var(--second-color);
    font-size: 15px;
}

.middel_header .data .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middel_header .data .info .cart {
    width: 45px;
    text-align: center;
    height: 45px;
    background: #E5F1E5 0% 0% no-repeat padding-box;
    line-height: 45px;
    border-radius: 50%;
}


.middel_header .data .info .heart {
    width: 45px;
    text-align: center;
    height: 45px;
    background: #E5F1E5 0% 0% no-repeat padding-box;
    line-height: 45px;
    border-radius: 50%;
}

.middel_header .data .info .sign_in {
    margin-right: 5px;
}

.middel_header .data .info .sign_in a {
    text-decoration: none;
    color: #fff;
    background: var(--second-color);
    padding: 12px;
    border-radius: 25px;
}

.middel_header .data .info .sign_in img {
    margin-left: 5px;
}

/* END MIDDEL HEADER */
/* START MIDDEL HEADER IN MOBILE */
.mobile_middel_header .data .logo img {
    width: 100%;
    height: auto;
}

.mobile_middel_header .navbar {
    background-color: #fff;
}

.mobile_middel_header .navbar-toggler {

    background-color: var(--second-color);
    border-radius: 30px;
    box-shadow: none;
}

.mobile_middel_header .navbar-toggler .navbar-toggler-icon i {
    color: #fff;
    margin-top: 5px;
}

/* END MIDDLE HEADER IN MOBILE */
.navbar {

    background-color: #1B1B1B;
    padding: 15px;
}

.navbar .nav-item {

    margin-right: 5px;
    margin-left: 5px;
}

.navbar .nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.navbar .dropdown-item {
    color: #000 !important;
}

.navbar .nav_badge {
    position: relative;
}

.navbar .nav_badge span {
    position: absolute;
    background-color: #BF2E48;
    left: 0;
    top: -11px;
    font-size: 11px;
}

.mobile_middel_header {
    display: none;
}

.bottom_search {
    background-color: #000;
}

.bottom_search .data .search form .box .box3 button {
    display: none;
}

.bottom_search .data .search form .box .box2 {
    width: 100%;
}

.mobile_middel_header .navbar-collapse {
    background-color: #000;
    position: absolute;
    z-index: 9999;
    min-width: 250px;
    top: 112%;
    left: 0;
    border-radius: 4px;
}

.mobile_middel_header .nav-item {
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 2px;
    padding-right: 10px;
}

.mobile_middel_header .nav-item:hover {
    background-color: #fff;
    padding-right: 6px;

}

.mobile_middel_header .nav-item:hover a {

    color: #000;
}

@media (max-width:991px) {
    .middel_header {
        display: none;
    }

    .mobile_middel_header {
        display: block;
    }

    .navbar {
        display: none;
    }

    .mobile_middel_header .navbar {
        display: block;
    }
}

/* END NAVBAR */

/* START FOOTER */
/* START INTAGRAEME FOOTER*/
.instagrame_footer {
    margin-bottom: 50px;
}

.instagrame_footer .data .insta_slider .insta_info {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    transition: all 1s ease-in-out;
}

.instagrame_footer .data .insta_slider .insta_info img {
    border-radius: 5px;
    width: 204px;
}

.instagrame_footer .data .insta_slider .insta_info .overlay {

    width: 0%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../uploads/overlay.png);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.instagrame_footer .data .insta_slider .insta_info:hover .overlay {
    width: 100%
}

.instagrame_footer .data .insta_slider .insta_info:hover .overlay img {
    display: block;
}

.instagrame_footer .data .insta_slider .insta_info .overlay img {
    width: 40px;
    position: absolute;
    top: 40%;
    left: 42%;
    display: none;
}

.instagrame_footer .data h2 {
    text-align: center;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
}

.instagrame_footer .data p {
    text-align: center;
    color: #797979;
    margin-bottom: 20px;
}

@media (max-width:991px) {
    .instagrame_footer .data .insta_slider .insta_info img {
        width: 154px;
    }

    .instagrame_footer .data .insta_slider .insta_info .overlay {

        background-image: url(../../uploads/mobile_overlay.png);

    }

}

/* END INSTAGRAME FOOTER */
.footer {
    background-color: var(--main-color);
    padding: 20px;
    color: #fff;
}


.footer .data .info p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .data .info .social_icon li {
    display: inline-block;
    margin: 0 10px;
}

.footer .data .info a {
    text-decoration: none;
    color: #fff;
}

.footer .data .info .social_icon i {
    font-size: 25px;
}

.footer .data .info ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* START BOTTOM FOOTER*/
.bottom_footer {
    background-color: #fff;
    padding: 10px;
}

.bottom_footer p {
    color: #000;
}

.bottom_footer .payment_method .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_footer {
    display: none;
}

.mobile_footer .bottom_footer .payment_method .images {
    flex-wrap: wrap;
}

.mobile_footer .bottom_footer .payment_method .images img {
    margin-bottom: 10px;
    padding: 5px;
}

.mobile_footer .bottom_footer p {
    text-align: center;
}

.mobile_footer .footer .data .info img {
    margin-bottom: 20px;
}

.mobile_footer .footer .data .info a {
    font-size: 15px;
}

.mobile_footer .footer .data .info p {
    font-size: 13px;
}

@media (max-width:991px) {
    .large_footer {
        display: none;
    }

    .mobile_footer {
        display: block;
    }
}

/* END FOOTER */

/* start index page */
.hero {
    position: relative;
    min-height: 50vh;
}

.hero .carousel-item {
    position: relative;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../uploads/header_overlay.png);
}

.hero .carousel-caption {
    text-align: right;
    border-right: 5px solid #fff;
    border-radius: 4px;
    padding-right: 35px;
}

.hero h5 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero .carousel-caption {
    bottom: 4.25rem;
}

.hero p {
    font-size: 20px;
}

.hero a {
    background-color: var(--second-color);
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 25px;
}

.hero a.btn:hover {
    color: #000;
}

.hero .carousel-item1 {
    background-image: url(../../uploads/header1.png);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    right: 0;
    left: auto;
}

.carousel-indicators .active {
    background-color: var(--second-color);
}

.carousel-indicators {
    left: auto;
    right: 60px;
}

@media (max-width:991px) {
    .hero .carousel-caption {
        bottom: 3.25rem
    }

    .hero .carousel-caption {
        border-right: none;
        padding-right: 0;
        left: 5%;
        right: 5%;
    }

    .hero h5 {
        font-size: 24px;
    }

    .hero p {
        font-size: 15px;
        line-height: 1.8;
    }

    .hero a {
        font-size: 13px;
        padding: 7px 15px;
    }

    .carousel-indicators {
        left: 0;
    }
}

/* START INDEX AUTOMATIC SEARCH  */
.index_automatic_search {
    padding: 40px;
}

.index_automatic_search .data {}

.index_automatic_search .data .info {}

.index_automatic_search .data .col-lg-6 {
    margin: 0;
    padding: 0;
}

.index_automatic_search .data .info img {
    max-width: 100%;
}

.index_automatic_search .data .info2 {
    background-color: #D8EDE5;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    padding: 45px 25px;
}

.index_automatic_search .data .info2::after {
    position: absolute;
    content: '';
    top: -30px;
    left: 36%;
    width: 128px;
    height: 106px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.54;
    border-radius: 76% 44%;
}

.index_automatic_search .data .info2 h2 {
    color: #1B1B1B;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.index_automatic_search .data .info2 p {
    color: #21522B;
    font-size: 15px;
    line-height: 2;
}

@media (max-width:991px) {
    .index_automatic_search .row {
        flex-direction: column-reverse;
    }

    .index_automatic_search .data .info2 {
        margin-top: 0;
        border-radius: 0 0 5px 5px;
    }

    .index_automatic_search .data .info img {
        border-radius: 5px 5px 0 0;
    }

    .index_automatic_search .data .info2 h2 {
        font-size: 20px;
    }

    .index_automatic_search .data .info2::after {
        left: 3%;
    }
}

/* END INDEX AUTOMATIC SEARCH  */
/* START NEW PRODUCTS  */
.new_producs {}

.new_producs .data {}

.new_producs .data .data_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_producs .data .data_header .data_header_name {
    margin-right: 65px;
}



.new_producs .data .data_header p {
    color: #797979;
    font-size: 14px;
}

.new_producs .data .data_header .global_button {
    color: var(--second-color);
    border-color: var(--second-color);
    background-color: transparent;
    font-size: 13px;
    padding: 7px 25px;
}

.new_producs .products {}

.new_producs .products .product_info,
.index_all_cat .product_info {
    border: 1px solid #ccc;
    border-radius: 3px 3px 0px 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.new_producs .products .product_info .main_image,
.index_all_cat .product_info .main_image {
    width: 250px;
    border-radius: 3px 3px 0px 0px;
}

.new_producs .products .product_info .product_details,
.index_all_cat .product_info .product_details {
    padding: 15px;
}

.new_producs .products .product_info .product_details h2,
.index_all_cat .product_info .product_details h2 {
    color: #1B1B1B;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.new_producs .products .product_info .product_details .price,
.index_all_cat .product_info .product_details .price {
    color: var(--second-color);
    font-size: 16px;
    margin-bottom: 12px;
}

.new_producs .products .product_info .product_details .add_cart,
.index_all_cat .product_info .product_details .add_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_producs .slick-slide img,
.index_all_cat .slick-slide img {
    display: inline-block !important;
    width: 19px;
}

.new_producs .products .product_info .product_details .add_cart .global_button,
.index_all_cat .product_info .product_details .add_cart .global_button {
    color: var(--second-color);
    border-color: var(--second-color);
    background-color: transparent;
    font-size: 13px;
    padding: 7px 25px;
}

.new_producs .products .product_info .product_details .add_cart .heart,
.index_all_cat .product_info .product_details .add_cart .heart {
    border: 2px solid var(--second-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.products .slick-prev {
    right: -4%;
    top: 41%;
}

.products .slick-prev,
.products .slick-next {
    position: absolute;

    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 7px #00000029;
    color: var(--second-color);
    border-color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 13px;
}

.products .slick-next {
    left: -4%;
    top: 41%;
}
.products .slick-next .fa-chevron-left{
        position: absolute;
            top: 28%;
            right: 40%;
}
.products .slick-prev .fa-chevron-right {
    position: absolute;
    top: 28%;
    left: 40%;
}
/* END NEW PRODUCST  */

/* START PLANTES REQUIREMENT INDEX */
.planets_require_index {
    padding-top: 40px;
    padding-bottom: 40px;
}

.planets_require_index .data {
    background-image: url(../../uploads/plants_req.svg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    height: 200px;
}

/* END PLANTES REQUIREMENT INDEX*/
/* START BEST PRODUCTS */
.best_products .data .data_header h2::after {
    right: -22%;
}

.best_products .products .product_info .badge {
    position: absolute;
    color: #fff;
    background-color: #E00951;
    border-radius: 3px;
    padding: 8px;
    top: 7px;
    margin-right: 7px;
    font-size: 12px;
    font-weight: normal;
}

@media(max-width:991px) {
    .new_producs .data .data_header h2 {
        font-size: 20px;
    }

    .new_producs .data .data_header h2::after {
        width: 35px;
        right: -30%;
    }

    .new_producs .data .data_header .data_header_name {
        margin-right: 35px;
    }

    .new_producs .data .data_header p {
        font-size: 11px;
    }

    .best_products .data .data_header h2::after {
        right: -19%;
    }

    .products .slick-prev,
    .products .slick-next {
        display: none !important;
    }
}

/* END BEST PRODUCTS*/

/* START INDEX ALLCAT  */
.index_all_cat {
    padding-top: 40px;
    padding-bottom: 40px;

}

.index_all_cat .data {
    background: transparent linear-gradient(180deg, #F0F5F0 0%, #F0F5F0 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 15px #00000017;
    border-radius: 15px;
    padding-bottom: 30px;
}

.index_all_cat .data .header2 {
    margin-right: 65px;
}

.index_all_cat .data .header2::after {

    right: -64px;
    top: 17px;
}

.index_all_cat .all_cat {
    padding-right: 15px;
}

.index_all_cat .all_cat ul li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.index_all_cat .all_cat ul li a {
    text-decoration: none;
    color: #1B1B1B;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}

.index_all_cat .all_cat ul li:hover a {
    color: var(--second-color);
}

.index_all_cat .all_cat ul li a.active {
    color: var(--second-color);
}

.index_all_cat .product_info .main_image {
    max-width: 100%;
}

.index_all_cat .product_info {
    margin-top: 20px;
}

.index_all_cat .more_button {
    margin: auto;
    text-align: center;
    background-color: transparent;
    color: var(--second-color);
    border-color: var(--second-color);
    display: block;
    width: 150px;
    margin-top: 20px;
}

/* END INDEX ALLCAT */
/*  START GARDEN SERVICES */
.garden_services {
    margin-bottom: 40px;
}

.garden_services img {
    max-width: 100%;
}

/*  END GARDEN SERVICES */
/* START PRODUCTS DISCOUNT */
.product_discounts .products .product_info .product_details .price_diffrent {
    background-image: url(../../uploads/section_background.svg);
    background-size: cover;
    background-position: center;
}

.product_discounts .products .product_info .product_details .price_diffrent h4 {
    display: inline-block;
}

.product_discounts .products .product_info .product_details .price_diffrent .price {
    color: #E00951;
}

.product_discounts .products .product_info .product_details .price_diffrent .old {
    color: #A0B2B1;
    font-size: 13px;
    margin-right: 12px;
    text-decoration: line-through;
}

/*END PRODUCT DISCOUNT*/
/* START EXPERT CONNECT  */
.expert_connect {
    margin-top: 40px;
    margin-bottom: 60px;
}

.expert_connect .data {}

.expert_connect .data .col-lg-5,
.expert_connect .data .col-lg-7 {
    padding: 0;
}

.expert_connect .data .info {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #21522B;
    position: relative;
    padding-right: 45px;
}

.expert_connect .data .info::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 180px;
    background-color: var(--second-color);
    right: 0;
    top: 26%;
}

.expert_connect .data .info h2 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.8;
}

.expert_connect .data .info p {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.8;
}

.expert_connect .data .image {
    background-image: url(../../uploads/expert_contact.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
}

.expert_connect .data .image img {
    position: absolute;
    bottom: 15px;
    right: -71px;
    width: 135px;
}

/* END EXPERT CONNECT  */

/* START WHY MASHTLY  */
.why_mashtly {
    margin-top: 60px;
    margin-bottom: 60px;
}

.why_mashtly .data {}

.why_mashtly .data .data_header_name {
    margin-right: 65px;
}

.why_mashtly .data .header2::after {
    right: -6%;
    top: 14px;
}

.why_mashtly .data .info {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 22px;
}

.why_mashtly .data .info img {
    width: 135px;
}

.why_mashtly .data .info h4 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.why_mashtly .data .info p {
    color: #1B1B1B;
    font-size: 13px;
    font-weight: normal;
}

/* END WHY MASHTLY  */
/* START INDEX POSTS */
.index_posts {}

.index_posts .data {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 3px solid #DBE6DB;
    border-bottom: 3px solid #DBE6DB;
}

.index_posts .data .info {}

.index_posts .data .info img {
    max-width: 100%;
}

.index_posts .data .info span {
    color: var(--second-color);
    font-size: 12px;
}

.index_posts .data .info h3 {
    color: #1B1B1B;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.index_posts .data .info p {
    color: #1B1B1B;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
}

.index_posts .from_blog {
    margin-top: 30px;
}

.index_posts .from_blog .post_info {

    margin-bottom: 20px;
}

.index_posts .from_blog .post_info img {
    max-width: 100%;
}

.index_posts .from_blog .post_info h4 {
    color: #1B1B1B;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.index_posts .from_blog .post_info p {
    font-size: 15px;
    line-height: 1.8;
    font-weight: normal;
    color: #1B1B1B;
}

/*END INDEX POSTS */

/* START INDEX VIDEO  */
.index_video {

    margin-top: 30px;
    margin-bottom: 30px;
}

.index_video .data {
    background-color: var(--second-color);
    padding: 40px;
    position: relative;
    padding-right: 30px;
}

.index_video .data::after {
    content: '';
    position: absolute;
    right: 0;
    width: 30px;
    height: 150px;
    background-color: var(--main-color);
    top: 30%;
}

.index_video .info {
    position: relative;
}

.index_video .info .video_data {
    margin-top: 100px;
    margin-right: 50px;
    position: relative;
}

.index_video .info .video_data .arrow {
    position: absolute;
    right: -20%;
    top: 22%;
    width: 29px;
}

.index_video .info span {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
}

.index_video .info h2 {
    color: #fff;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 10px;
    font-size: 28px;
}

.index_video .info a {}

.index_video .data .image1 {
    position: absolute;
    top: -60%;
    right: -30%;
    width: 140px;
}

.index_video .info .global_button {
    border-color: #fff;
    margin-top: 20px;
}

.index_video .info .global_button img {
    width: 20px;
    margin-right: 5px;
}

.index_video .data .image2 {
    position: absolute;
    bottom: -85%;
    left: -7%;
    width: 140px;
}

.index_video .plyr__poster {
    background-size: cover;
}

.index_video .plyr--full-ui.plyr--video .plyr__control--overlaid {
    background-color: #ffffff78;
}

/* END INDEX VIDEO  */
/* START TESTMONAILS */
.testmonails {}

.testmonails .data {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #DBE6DB;
}

.testmonails .data {}

.testmonails .data .data_header_name {
    margin-right: 65px;
}

.testmonails .data .data_header_name .header2::after {
    right: -6%;
    top: 53%;
}

.testmonails .data .person_info {
    background-color: var(--main-color);
    color: #fff;
    width: 540px;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.testmonails .data .person_info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testmonails .data .person_info .head h3 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.testmonails .data .person_info .head img {
    width: 60px;
}

.testmonails .data .person_info p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
}

.testmonails .data .person_info .foo {
    display: flex;
    justify-content: right;
    align-items: center;
}

.testmonails .data .person_info .foo img {
    width: 60px;
margin-left: 15px;
}

.testmonails .right_arrow {
    position: absolute;
    top: -47px;
    left: 90px;
    width: 35px;
    cursor: pointer;
}

.testmonails .left_arrow {
    position: relative;
    top: -260px;
    left: -94%;
    width: 35px;
    cursor: pointer;
}

.testmonails .data .person_info .foo h5 {
    font-size: 16px;
}

.testmonails .data .person_info .foo span {
    font-size: 14px;
}

/* END TESTMONAILS */